  <div class="container">
    <h1 class="mt-4 mb-3">숙소
     <small>Reservation</small>
    </h1>
    <div class="row col-md-12" style="margin-bottom: 25px;">
      <div class="input-group">
        <input type="text" class="form-control" id="searchBar" placeholder="검색할 숙박업소 or 위치는...">
        <span class="input-group-append">
          <button class="btn btn-secondary searchBtn" type="button">검색</button>
        </span>
      </div>
    </div>
    <div class="row">
      <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
          <!-- Search Widget -->
          <div class="card mb-4">
            <h5 class="card-header">Search</h5>
            <div class="card-body">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-append">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
              </div>
            </div>
          </div>
          <div class="card mb-4">
            <h5 class="card-header">가격</h5>
            <div class="card-body">
              <label for="price"><input type="range" style="width: 230%;"/>0</label>
            </div>
          </div>
        </div>
        <!-- Blog Entries Column -->
        <div class="col-md-8">
          <!-- Project One -->
        {{#each result}}
        <div class="row">
          <div class="col-md-7">
            <a href="/room/detail/{{RNO}}">
              <img class="img-fluid rounded mb-3 mb-md-0" src="{{IMAGE}}" alt="">
            </a>
          </div>
          <div class="col-md-5">
            <h3>{{HNAME}}</h3>
            <p>가격: {{PRICE}} ￦</p>
            <p>인원: {{CAPA}} 명</p>
            <p>소개: {{HCONTENT}}</p>
            <a class="btn btn-primary" href="/room/detail/{{RNO}}">예약
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>
        <!-- /.row -->
        <hr>
        {{/each}}
      </div>
  </div>
</div>